@import "tailwindcss";

/* ======================
   THEME TOKENS
   ====================== */
@theme {
  /* Brand Colors */
  --color-primary: #51baff;
  --color-primary-dark: #2fa4ff;
  --color-secondary: #ffb000;
  --color-secondary-dark: #d97706;
  --color-tertiary: #16a34a;

  /* App Backgrounds */
  --color-dark: #0b0f14;
  --color-soft-dark: #111827;

  /* Semantic Colors */
  --color-destructive: #ef4444;

  /* Gray Scale Logic */
  --color-white: #ffffff;
  --color-gray1: #f3f4f6;
  --color-gray2: #e5e7eb;
  --color-gray3: #d1d5db;
  --color-gray4: #9ca3af;
  --color-gray5: #6b7280;
  --color-gray6: #4b5563;
  --color-gray7: #374151;
  --color-gray8: #1f2937;

  /* Text colors */
  --text-white: #ffffff;
  --text-gray2: #e5e7eb;
  --text-gray4: #9ca3af;
  --text-gray6: #4b5563;
  --text-gray8: #1f2937;
}

/* DYNAMIC COLOR VARIABLES */
:root {
  --bg-dark: #0b0f14;
  --bg-soft: #111827;
}

/* ======================
   BASE STYLES
   ====================== */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-dark);
    color: #e5e7eb;
  }

  button {
    cursor: pointer;
  }
}

/* ======================
   COMPONENT CLASSES
   ====================== */
@layer components {
  .primary-btn {
    @apply rounded-lg px-8 py-2 font-semibold text-black;
    background-image: linear-gradient(
      to top right,
      var(--color-primary-dark),
      var(--color-primary)
    );
  }
  .secondary-btn {
    @apply rounded-lg px-8 py-2 font-semibold text-black;
    background-color: var(--color-secondary);
  }
}

/* ======================
   SCROLLBAR
   ====================== */

/* Chromium, Edge, Safari */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray7);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray7);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray7) transparent;
}
