@import "tailwindcss";

/* ======================
   THEME TOKENS
   ====================== */
@theme {
  --color-primary: #51baff;
  --color-primary-dark: #2fa4ff;
  --color-secondary: #ffd700;
  --color-secondary-dark: #fff700;

  --color-bg-dark: #0b0f14;
  --color-bg-soft: #111827;
}

/* ======================
   BASE STYLES
   ====================== */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-bg-dark);
    color: #e5e7eb;
  }

  button {
    cursor: pointer;
  }
}

/* ======================
   COMPONENT CLASSES
   ====================== */
@layer components {
  .primary-btn {
    @apply rounded-lg px-8 py-2 font-semibold text-black shadow-sm;
    background-image: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-primary-dark)
    );
  }
  .secondary-btn {
    @apply rounded-lg px-8 py-2 font-semibold text-black shadow-sm;
    background-image: linear-gradient(
      to right,
      var(--color-secondary),
      var(--color-secondary-dark)
    );
  }
}

/* ======================
   SCROLLBAR
   ====================== */

/* Chromium, Edge, Safari */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}
